# {{ title }}

**Date:** {{ date }}
**Attendees:** {{ attendees | join(", ") }}
{% if facilitator is defined and facilitator %}**Facilitator:** {{ facilitator }}{% endif %}

---

## Agenda

{% for item in agenda %}
{{ loop.index }}. {{ item }}
{% endfor %}

## Discussion

{% for item in discussion %}
### {{ item.topic }}

{{ item.notes }}

{% if item.decisions is defined and item.decisions %}
**Decisions:**
{% for d in item.decisions %}
- {{ d }}
{% endfor %}
{% endif %}

{% endfor %}

## Action Items

| # | Action | Owner | Due |
|---|--------|-------|-----|
{% for action in action_items %}
| {{ loop.index }} | {{ action.task }} | {{ action.owner }} | {{ action.due }} |
{% endfor %}

{% if next_meeting is defined and next_meeting %}
---

**Next meeting:** {{ next_meeting }}
{% endif %}
